<div class="wrapper">
  <form>
    <div class="form-item">
      <label for="login">Login</label>
      <input placeholder="Your Login..." name="login" [(ngModel)]="formData.login" required pattern="[a-zA-Z0-9]+" #loginInput="ngModel"/>
      <div *ngIf="loginInput.invalid && (loginInput.dirty || loginInput.touched)">
        <div *ngIf="loginInput.errors?.['required']" class="error-text">Login is required.</div>
        <div *ngIf="loginInput.errors?.['pattern']" class="error-text">
          Login should contain only letters and numbers without spaces.
        </div>
      </div>
    </div>

    <div class="form-item">
      <label for="email">Email</label>
      <input id="email" placeholder="Your email..." name="email" [(ngModel)]="formData.email" required email #emailInput="ngModel" />
      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
        <div *ngIf="emailInput.errors?. ['required']" class="error-text">Email is required.</div>
        <div *ngIf="emailInput.errors?. ['email']" class="error-text" >Invalid email format.</div>
      </div>
    </div>

    <div class="form-item">
      <label for="password" >Password</label>
      <input id="password" placeholder="Your password..." name="password" [(ngModel)]="formData.password" required minlength="7" #passwordInput="ngModel" />
      <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" >
        <div *ngIf="passwordInput.errors?. ['required']" class="error-text" >Password is required</div>
        <div *ngIf="passwordInput.errors?. ['minlength']" class="error-text" >Password should have at least 7 characters </div>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
